*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-family: 'montseratt' , sans-serif;
}

.heading{
  padding:15px;
}

.heading{
  color:white;
}

.heading h2{
  color:white;
  text-shadow: 4px 4px rgba(0,0,0,0.5);
  font-weight: bold;
  font-size: 2rem;
  padding:10px;
}

.app{
  background-image: url('./assets/moderate.PNG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s ease;
  text-align: center;
}

.app-warm{
  background-image: url('./assets/warm.PNG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:0.4 ease-out;
  text-align: center;
}

.app-normal{
  background-image: url('./assets/lit-cold.PNG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:0.4 ease-out;
  text-align: center;
}

.app-winter{
  background-image: url('./assets/winter.PNG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:0.4 ease-out;
  text-align: center;
}

main{
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
}

.search-box{
  width: 100%;
  padding-top: 15px;
  color: antiquewhite;
  text-align: center;
}

.search-box input{
  color:rgb(59, 58, 58);
  width: 30%;
  border:2px solid white;
  background-color: rgba(255,255,255,0.4);
  border-radius: 10px;
  font-size: 1.7rem;
  box-shadow: 0 5px rgba(0,0,0,0.2);
}

.search-box input:focus{
  background-color: rgba(255,255,255,0.6);
}


@media (max-width:1080px){
  .search-box input{
    color:rgb(59, 58, 58);
    width: 80%;
    border:2px solid white;
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
    font-size: 1.5rem;
    box-shadow: 0 8px rgba(0,0,0,0.2);
  }
}

.location{
  color:white;
  text-shadow: 4px 4px rgba(0,0,0,0.5);
  font-weight: bold;
  font-size: 2rem;
  padding:10px;
}

.date{
  color:white;
  text-shadow: 3px 3px rgba(0,0,0,0.5);
  font-size: 1.7rem;
  font-style: italic;
  padding:5px;
}

.time{
  color:white;
  text-shadow: 3px 3px rgba(0,0,0,0.5);
  font-size: 1.4rem;
  padding:1px;
}

.temp{
  padding: 15px;
  color:white;
  font-size: 4rem;
  display:inline-block;
  background-color: rgba(255,255,255,0.4);
  border-radius: 10px;
  font-weight: bold;
  text-shadow: 4px 4px rgba(0,0,0,0.5);
}

.weather{
  color:white;
  text-shadow: 4px 4px rgba(0,0,0,0.5);
  font-weight: bold;
  font-size: 1.5rem;
  padding:20px;
}

